body{
  background-color: #fafafa;
}
p{
  font-family: 'Roboto', sans-serif;
}
li{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
h2{
  font-family: 'Roboto', sans-serif;
}
label{
  width:110px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
a{
  color:white;
  text-decoration: none;
}
ul {
  list-style: none;
}
/*Headerr*/
header{
  padding:20px;
  background-color: #525cc6;
  color:white;
}
header p{
  font-size: 40px;
}
.moi{
  float:right;
  overflow:hidden;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px;
  width:120px;
  height:120px;
}
/*Footer*/
footer{
  text-align: right;
  background-color:#525cc6;
  height:40px;
}
footer p{
  padding: 10px;
  color:white;
}
/* Contenu du site */
.container{
  width: 1000px;
  margin:auto;
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 0px solid rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.44);
}
span{
  margin-right:30px;
  margin-left:20px;
}
.tache{
  overflow: hidden;
}
/*Icon*/
.fa{
  color:black;
}
.fa-plus-square:hover{
  color:#525cc6;
}
.fa-plus-square{
  float:right;
  margin-top: 10px;
  margin-right: 120px;
}
.fa-check{
  margin-left: 20px;
}
.fa-check:hover{
  color:green
}
.fa-window-close:hover{
    color:red;
}
/*Liste*/
.tasklist-titre{
  background-color: #acacac;
  margin-top: 0px;
  height: 25px;
}

.tasklist li.is-done span{
  text-decoration: line-through;
}
.tasklist li:hover{
  background-color: #525cc6;
  color:white;
  border-radius: 5px;
}
.tasklist-item-id{
  display: inline-block;
  width:20px;
}
.tasklist-item-description{
  display: inline-block;
  width:100px;
}
.tasklist-item-creation{
    display: inline-block;
    width:160px;
}
.tasklist-item-due{
    display: inline-block;
    width:120px;
}
.tasklist-item-priority{
    display: inline-block;
    width:20px;
}
/* Fichier edit.php*/
input{
  width:150px;
}
.bouton{
margin-top:20px;
}
.contenu{
  padding:20px;
}
.note{
  float:right;
}
.contenu p{
  font-size: 20px;
}
form{
  margin-bottom: 20px;
}
